* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: oswald, helvetica, arial, sans-serif;
	background:url(pp.jpg), #000;
	background-size: cover;
	background-attachment:fixed;
}

.contenedor {
	width:90%;
	max-width:1000px;
	margin:auto;
}

#particles-js {
	width:100%;
	height:100%;
	position:fixed;
	background:rgba(0,0,0,.8);
}

header {
	position: relative;
	height:auto;
}

header .menu {
	background:rgba(255,255,255,.7);
	overflow: hidden;
}

header .logo {
	color:rgba(0,0,0,.8);
	float:left;
	font-size:30px;
	line-height:80px;
}

header nav {
	float:right;
}

header nav ul {
	list-style: none;
}

header nav ul li {
	float: left;
}

header nav ul li a {
	color:rgba(0,0,0,.8);
	text-decoration: none;
	display: block;
	font-size:18px;
	padding:0 20px;
	line-height:80px;
}

header nav ul li:hover {
	background:rgba(0,0,0,.8);
}

header nav ul li a:hover {
	color:#fff;
}

.texto {
	color:#fff;
	position:relative;
	padding:200px 0;
	text-align: center;
	font-weight: 400;
}

.texto h2, .texto p {
	background: rgba(0,0,0,.8);
	display:inline-block;
	padding:10px 20px;
}

.texto h2 {
	font-size:40px;
	letter-spacing: 2.5px;
	font-weight: normal;
}

.texto p {
	font-size:20px;
	letter-spacing: 2.5px;
}

.principal {
	position:relative;
	color:#000;
}

.principal article {
	padding:20px;
	background:#fff;
	margin-bottom: 20px;
}

.principal article p {
	margin-bottom: 20px;
	line-height:24px;
	font-family:helvetica, arial, sans-serif;
}

.principal article .fecha {
	color:#939393;
}

.post-category {
	background: #7fbb00;

	display: inline-block;
    width: 5px;
    height: 5px;
	margin: 0 10px 0 0;
	
	transition: width .2s ease-in-out;
    vertical-align: 2px;
	border-radius: 10px;
	
	box-sizing: border-box;

	font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color:#757d86;
}

/*p {
	color: #fff;
}*/

.eckosc_syntax_theme_dark.hljs {
    overflow-x: auto;
    color: #bfd2db;
    background:#1a1e26;
}

.eckosc_syntax {
    font-family: Consolas,'Liberation Mono',Courier,monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    display: block;
    overflow-x: auto;
    margin: 60px 0;
    padding: 40px;
    -moz-tab-size: 30px;
    -o-tab-size: 30px;
    tab-size: 30px;
}

.post-contents pre code {
    font-family: 'Source Code Pro',monospace,sans-serif;
    font-weight: 500;
    line-height: 26px;
}


.eckosc_syntax_theme_dark .hljs-string, .eckosc_syntax_theme_dark .hljs-regexp, .eckosc_syntax_theme_dark .hljs-addition, .eckosc_syntax_theme_dark .hljs-attribute, .eckosc_syntax_theme_dark .hljs-meta-string {
    color: 
    #96cd6f;
}

#hacknews {
	background: #96cd6f;
}

.hacking a {
	text-decoration:none;
	color: #96cd6f;
}

.hacknews a {
	text-decoration: none;
	color: #638aaa;
}

.blog a {
	text-decoration: none;
	color: #f77a7a;
}

#readme {
	text-decoration: none;
	color: black;
}

#readme strong {
	text-decoration: none;
	color: black;
}

.datai {
	text-decoration: none;
	color: #5fdb1c;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid 
    rgb(211, 207, 207);
}

a {
	text-decoration: none;
	color: #000;
}

footer.footer-blog {
    overflow: hidden;
    padding: 80px 0;
    text-align: center;
    color: 
#fff;
background:
    #1a1b1f;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
* {
    box-sizing: border-box;
}

footer.footer-blog .wrapper {
    max-width: 520px;
}
.page-wrapper, .wrapper {
    width: 92.5%;
    max-width: 1580px;
    margin: 0 auto;
}

.footer-blog-title {
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 40px;
    text-transform: uppercase;
    color: 
    #fff;
}
#mc-embedded-subscribe, #mce-EMAIL, .footer-blog-title, .pagination-button, .pagination-load-more, .pagination-numbers li .current, .pagination-numbers li a, .post-list .post-category, .post-list .post-read-more, .post.format-link .post-external-link, .single-header .post-category, .single-info-tags a, .single-upper-permalink, .single-upper-social .social-light-comments, .subscription-bar-form-input, .subscription-bar-form-submit, .subscription-bar-sub-title, .trending-bar-title, ul.page-numbers li .current, ul.page-numbers li a {
    font-family: Montserrat,Arial,Sans-Serif;
}

.footer-blog-social {
    list-style: none;
    text-align: center;
}
ol, ul {
    margin: 0;
    padding: 0;
}

.footer-blog-social li {
    display: inline-block;
    margin: 0 10px 10px 0;
}

.footer-blog-social {
    list-style: none;
    text-align: center;
}
footer.footer-blog {
    text-align: center;
    color: 
#fff;
}

.cover-featured-posts .featured-post-medium .featured-post-title {
    font-size: 32px;
    line-height: 49px;
}
.cover-featured-posts .featured-post-title {
    font-size: 38px;
    font-weight: 700;
    line-height: 60px;
    margin: 0 0 25px;
    color: 
    #fff;
}

.cover-single-data.single-header .post-title {
    max-width: 820px;
    color: 
    #fff;
}
.single-header .post-title {
    font-size: 48px;
    line-height: 59px;
    margin: 0 0 35px;
    color: #fff;
}

.post-contents blockquote {
    font-size: 21px;
    font-weight: 700;
    line-height: 35px;
    margin: 35px 0;
    padding: 0;
}

#ez-toc-container.ez-toc-white {
    background: 
    #FFF;
}
#ez-toc-container {
    background: #f9f9f9;
    border: 1px solid 
#AAA;
border-radius: 4px;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
box-shadow: 0 1px 1px
    rgba(0,0,0,.05);
    display: table;
    margin-bottom: 1em;
    padding: 10px;
    position: relative;
    width: auto;
}
* {
    box-sizing: border-box;
}
.post-contents {
    font-size: 16px;
    line-height: 30px;
    color: 
    #44494f;
}

.ez-toc-title-container {
    display: table;
    width: 100%;
}

div#ez-toc-container p.ez-toc-title {
    font-weight: 500;
}
div#ez-toc-container p.ez-toc-title {
    font-size: 120%;
}
#ez-toc-container p.ez-toc-title {
    text-align: left;
    line-height: 1.45;
    margin: 0;
    padding: 0;
}
.post-contents ol, .post-contents p, .post-contents ul {
    font-size: 16px;
    line-height: 30px;
    position: relative;
    margin: 25px 0;
    color: 
    #44494f;
}
.post-contents h1, .post-contents h2, .post-contents h3, .post-contents ol, .post-contents p, .post-contents ul {
    font-family: Poppins,Arial,Sans-Serif;
}
.ez-toc-title, .ez-toc-title-toggle {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

#ez-toc-container.counter-flat ul, #ez-toc-container.counter-hierarchy ul, .ez-toc-widget-container.counter-flat ul, .ez-toc-widget-container.counter-hierarchy ul {
    counter-reset: item;
}
#ez-toc-container li, #ez-toc-container ul, #ez-toc-container ul li, .ez-toc-widget-container, .ez-toc-widget-container li {
    background: 0;
    list-style: none;
    line-height: 1.6;
    margin: 0;
    overflow: hidden;
    z-index: 1;
}
#ez-toc-container li, #ez-toc-container ul {
    padding: 0;
}
.post-contents ol, .post-contents ul {
    margin: 35px 0 35px 7.5%;
}
.post-contents ol, .post-contents p, .post-contents ul {
    font-size: 16px;
    line-height: 30px;
    position: relative;
    margin: 25px 0;
    color: 
    #44494f;
}
.post-contents h1, .post-contents h2, .post-contents h3, .post-contents ol, .post-contents p, .post-contents ul {
    font-family: Poppins,Arial,Sans-Serif;
}
ol, ul {
    margin: 0;
    padding: 0;
}

div#ez-toc-container ul li {
    font-size: 95%;
}
#ez-toc-container li, #ez-toc-container ul, #ez-toc-container ul li, .ez-toc-widget-container, .ez-toc-widget-container li {
    background: 0;
    list-style: none;
    line-height: 1.6;
    margin: 0;
    overflow: hidden;
    z-index: 1;
}
#ez-toc-container li, #ez-toc-container ul {
    padding: 0;
}
.post-contents li {
    font-weight: 400;
    margin-bottom: 20px;
    padding-left: 2.5%;
    color: 
    #44494f;
}

#ez-toc-container a {
    color: 
    #444;
    text-decoration: none;
    text-shadow: none;
}
.post-contents a {
    font-weight: 600;
    color: #0053f9;
}

.post-contents h1::after, .post-contents h2::after {
    bottom: 0;
    left: 0;
    display: block;
    width: 140px;
    height: 3px;
    margin: 10px 0;
    content: '';
    background: 
    #285bcd;
}

.eckosc_syntax_theme_dark.hljs {
    overflow-x: auto;
    color: #bfd2db;
    background: #1a1e26;
}
.eckosc_syntax {
    font-family: Consolas,'Liberation Mono',Courier,monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    display: block;
    overflow-x: auto;
    margin: 60px 0;
    padding: 40px;
    -moz-tab-size: 30px;
    -o-tab-size: 30px;
    tab-size: 30px;
}
code, kbd, pre, samp {
    font-family: monospace,monospace;
    font-size: 1em;
}

pre, textarea {
    overflow: auto;
}

.eckosc_syntax_theme_dark .hljs-doctag, .eckosc_syntax_theme_dark .hljs-keyword, .eckosc_syntax_theme_dark .hljs-formula {
    color: #cb70e5;
}

.post-contents ol, .post-contents p, .post-contents ul {
    font-size: 16px;
    line-height: 30px;
    position: relative;
    margin: 25px 0;
    color: 
    #44494f;
}
.post-contents h1, .post-contents h2, .post-contents h3, .post-contents ol, .post-contents p, .post-contents ul {
    font-family: Poppins,Arial,Sans-Serif;
}

.post-contents .aligncenter, .post-contents img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.post-contents .wp-caption {
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
    border: 1px solid 
#f0f0f0;
background:
    #fff;
}
.post-contents .aligncenter {
    margin: 45px auto;
        margin-right: auto;
        margin-left: auto;
}
.post-contents .aligncenter, div.aligncenter {
    display: block;
    margin: 5px auto;
}

.post-contents .wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
.post-contents ol, .post-contents p, .post-contents ul {
    font-size: 16px;
    line-height: 30px;
    position: relative;
    margin: 25px 0;
    color: #44494f;
}
.post-contents h1, .post-contents h2, .post-contents h3, .post-contents ol, .post-contents p, .post-contents ul {
    font-family: Poppins,Arial,Sans-Serif;
}

.post-contents a {
    font-weight: 600;
    color: #0053f9;
}

code, kbd, pre, samp {
    font-family: monospace,monospace;
    font-size: 1em;
}

.eckosc_syntax_theme_dark .hljs-section, .eckosc_syntax_theme_dark .hljs-name, .eckosc_syntax_theme_dark .hljs-selector-tag, .eckosc_syntax_theme_dark .hljs-deletion, .eckosc_syntax_theme_dark .hljs-subst {
    color: #e9636d;
}

header .submenu {
    background:rgba(41, 41, 41, 0.7);
    overflow: hidden;
}

header .sublogo {
    color:rgba(0,0,0,.8);
	float:left;
	font-size:18px;
	line-height:40px;
}

header .subcontenedor{
    width:90%;
	max-width:1000px;
    margin:auto;
}

#sublist li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    font-size: 18px;
    padding: 0 20px;
    line-height: 40px;
}

#sublist li:hover {
    background: rgba(218, 206, 206, 0.7);
}

/*HELLO ESGEEKS*/

.page-wrapper, .wrapper {
    width: 92.5%;
    max-width: 1580px;
    margin: 0 auto;
}

.cover-category-data, .cover-error-data {
    position: relative;
    z-index: 200;
    width: 90%;
    max-width: 680px;
    margin: 80px auto 100px;
    text-align: center;
    color: 
    #fff;
}

.cover-category-count {
    font-size: 12px;
    color: 
    #bdc3cb;
}
.cover-category-count, .cover-featured-posts .post-category {
    font-weight: 700;
    font-family: Montserrat,Arial,Sans-Serif;
    text-transform: uppercase;
}

.cover-category-title, .cover-error-title {
    font-size: 58px;
    margin: 0 0 35px;
    color: 
    #fff;
}

over-category-title span, .cover-error-title span {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 25px 0 0;
    vertical-align: 13px;
    border-radius: 10px;
}
/*..*/

.navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.navbar > .container, .navbar > .container-fluid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.container {
    max-width: 1140px;
}
.container {
    max-width: 960px;
}
.container {
    max-width: 720px;
}
.container {
    max-width: 540px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.bg-black {
    color: 
    #fff;
}

.navbar-dark .navbar-brand {
    color: 
    #fff;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

img {
    vertical-align: middle;
    border-style: none;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.text-muted {
    color: /*#ffffff !important;*//*#6c757d !important;*/ #000000
}

.bg-black {
    background: rgb(139, 139, 139);;
    color:#fff;
}
.p-2 {
    padding: .5rem !important;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

/**/

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.navbar .navbar-toggler {
    color: 
    #fff;
}
.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: 
    rgba(255,255,255,.1);
}
.navbar-expand-lg .navbar-toggler {
    display: none;
}
[type="reset"], [type="submit"], button, html [type="button"] {
    -webkit-appearance: button;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: 
transparent;
border: 1px solid
    transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    border-radius: .25rem;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    border-radius: 0;
}

.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}
.collapse:not(.show) {
    display: none;
}
.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}
 /*National Geographic Incendio Forestal Australia*/

 .ngart-hl__title {
    font-family: GeoEditBold,sans-serif;
    font-weight: 400;
    font-size: 2.625rem;
    letter-spacing: .3px;
    line-height: 1.143;
}
.ngart-hl__title {
    font-family: GeoEditBold,sans-serif;
    font-weight: 400;
    font-size: 2.125rem;
    letter-spacing: .3px;
    line-height: 1.5;
    margin: 9px 0 4px;
}
.ngart-hl__title {
    font-family: GeoEditBold,sans-serif;
    font-weight: 400;
    font-size: 1.875rem;
    letter-spacing: .3px;
    line-height: 1.5;
    color: 
    #000;
    margin: 15px 0 5px;
}
.ngart-hl__title {
    font-family: GeoEditBold,sans-serif;
    font-weight: 400;
    font-size: 2.625rem;
    letter-spacing: .3px;
    line-height: 1.143;
}
.ngart-hl__title {
    font-family: GeoEditBold,sans-serif;
    font-weight: 400;
    font-size: 2.125rem;
    letter-spacing: .3px;
    line-height: 1.5;
    margin: 9px 0 4px;
}
.ngart-hl__title {
    font-family: GeoEditBold,sans-serif;
    font-weight: 400;
    font-size: 1.875rem;
    letter-spacing: .3px;
    line-height: 1.5;
    color: #000;
    margin: 15px 0 5px;
}

 .ngart-hl__deck {
    font-size: .9375rem;
    line-height: 1.75rem;
}
.ngart-hl__deck {
    font-family: GeoEditRegular,sans-serif;
    font-weight: 400;
    font-size: .875rem;
    letter-spacing: .1px;
    line-height: 1.5;
    color: 
    #555;
    display: inline-block;
}

.ngart-hl__text {
    padding-right: 30px;
}
.ngart-hl__text {
    display: initial;
    font-size: .875rem;
    line-height: 1.625rem;
}
.ngart-hl__text {
    font-family: GeoEditRegular,sans-serif;
    font-weight: 400;
    font-size: .875rem;
    letter-spacing: .1px;
    line-height: 1.5;
    color: 
    #555;
    padding-right: 30px;
    margin-bottom: 15px;
    display: block;
    width: 100%;
    font-weight: 400;
}

.ngart-hl__date {
    font-size: .875rem;
    line-height: 1.625rem;
    padding-left: 30px;
    margin-left: 0;
}
.ngart-hl__date {
    font-size: .875rem;
    line-height: 1.625rem;
    margin-left: 0;
    padding-left: 25px;
}
.ngart-hl__date {
    font-family: GeoEditRegular,sans-serif;
    font-weight: 400;
    font-size: .875rem;
    letter-spacing: .1px;
    line-height: 1.5;
    color: 
#999;
display: block;
width: 100%;
border-left: 1px solid
    #999;
    padding-left: 15px;
    margin: 10px 0 30px;
        margin-left: 0px;
    clear: both;
    width: auto;
}

/**/

.ngart-img--large {
    margin-bottom: 35px;
}
.ngart-img--large {
    float: none;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.ngart-img--large {
    margin-bottom: 23px;
    width: 100%;
    clear: both;
}
.ngart-img {
    background: 
#fff;
margin-bottom: 30px;
}

/*Image Incendio*/

.ngart-img:hover {
    cursor: pointer;
}
.ngart-img--large {
    margin-bottom: 35px;
}
.ngart-img--large {
    float: none;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.ngart-img--large {
    margin-bottom: 23px;
    width: 100%;
    clear: both;
}
.ngart-img {
    background: 
    #fff;
    margin-bottom: 30px;
}
.ngart-img--large {
    margin-bottom: 35px;
}
.ngart-img--large {
    float: none;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.ngart-img--large {
    margin-bottom: 23px;
    width: 100%;
    clear: both;
}
.ngart-img {
    background: #fff;
    margin-bottom: 30px;
}

.ngart-img--large .ngart-img__cntr {
    display: block;
    overflow: hidden;
    margin-left: 0;
    margin-right: 0;
}
.ngart-img--large .ngart-img__cntr {
    display: block;
    overflow: hidden;
    margin-left: 0;
    margin-right: 0;
}
.ngart-img__cntr {
    position: relative;
    font-size: 0;
}
.ngart-img__cntr {
    position: relative;
    font-size: 0;
}

.resp-img-cntr {
    display: block;
    width: 100%;
    position: relative;
    height: 0;
    overflow: hidden;
    background: 
    rgba(179,179,179,.4) url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4NC40MyAxMjAuOTgiPjxkZWZzPjwvZGVmcz48cGF0aCBzdHlsZT0iZmlsbDojZmMwOyIgZD0iTTAsMTIxVjBIODQuNDNWMTIxSDBaTTcyLjIyLDEwOC44VjEyLjE4SDEyLjE3VjEwOC44SDcyLjIyWiIvPjwvc3ZnPgo=) no-repeat center center;
        background-size: auto;
    background-size: 40px 58px;
}
.resp-img-cntr {
    display: block;
    width: 100%;
    position: relative;
    height: 0;
    overflow: hidden;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4NC40MyAxMjAuOTgiPjxkZWZzPjwvZGVmcz48cGF0aCBzdHlsZT0iZmlsbDojZmMwOyIgZD0iTTAsMTIxVjBIODQuNDNWMTIxSDBaTTcyLjIyLDEwOC44VjEyLjE4SDEyLjE3VjEwOC44SDcyLjIyWiIvPjwvc3ZnPgo=) center center no-repeat rgba(179,179,179,.4);
    background-size: 40px 58px;
}

.ngart-img--large .ngart-img__cntr img {
    margin: 0 auto;
        margin-top: 0px;
    display: block;
    width: 100%;
}
.ngart-img--large .ngart-img__cntr img {
    margin: 0 auto;
    display: block;
    width: 100%;
}
.resp-img-cntr img {
    display: block;
    width: 100%;
    height: auto;
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
}
.resp-img-cntr img {
    display: block;
    width: 100%;
    height: auto;
    -webkit-animation: 1s fadein;
    animation: 1s fadein;
}

.ngart-img--large .ngart-img__cont {
    margin: 11px auto 0;
    max-width: 1160px;
}
.ngart-img--large .ngart-img__cont {
    padding-left: 40px;
    margin: 10px 0 0;
    width: 100%;
}
.ngart-img--large .ngart-img__cont {
    margin: 11px 0;
}
.ngart-img--large .ngart-img__cont {
    padding-left: 35px;
    margin: 20px 30px 0 0;
}
.ngart-img--large .ngart-img__cont {
    margin: 11px 0;
}
.ngart-img--large .ngart-img__cont {
    padding-left: 35px;
    margin: 10px 80px 31px 0;
}
.ngart-img--large .ngart-img__cont {
    padding-left: 30px;
    position: relative;
    margin: 11px 0;
}
.ngart-img--large .ngart-img__cont {
    margin: 11px auto 0;
    max-width: 1160px;
}
.ngart-img--large .ngart-img__cont {
    padding-left: 40px;
    margin: 10px 0 0;
    width: 100%;
}
.ngart-img--large .ngart-img__cont {
    margin: 11px 0;
}
.ngart-img--large .ngart-img__cont {
    padding-left: 35px;
    margin: 20px 30px 0 0;
}
.ngart-img--large .ngart-img__cont {
    margin: 11px 0;
}
.ngart-img--large .ngart-img__cont {
    padding-left: 35px;
    margin: 10px 80px 31px 0;
}
.ngart-img--large .ngart-img__cont {
    padding-left: 30px;
    position: relative;
    margin: 11px 0;
}
.ngart-img__cont {
    width: 100%;
}
.ngart-img__cont {
    font-family: GeoEditRegular,sans-serif;
    font-weight: 400;
    font-size: .875rem;
    letter-spacing: .1px;
    line-height: 1.5;
    line-height: 20px;
    color: 
#333;
border-left: 1px solid
    #555;
    max-width: 100%;
    position: relative;
}
.ngart-img__cont {
    width: 100%;
}
.ngart-img__cont {
    font-family: GeoEditRegular,sans-serif;
    font-weight: 400;
    font-size: .875rem;
    letter-spacing: .1px;
    line-height: 1.5;
    line-height: 20px;
    color: #333;
    border-left: 1px solid #555;
    max-width: 100%;
    position: relative;
}

/*22*/

.ngart__cont {
    position: relative;
    width: 100%;
}
.ngart__cont {
    position: relative;
    width: 100%;
}

.ngart .gr-wrap {
    padding: 0;
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}
.ngart .ngart__group {
    -js-display: flex;
    display: flex;
}
.ngart .gr-wrap {
    margin: 0 90px;
}
.ngart .gr-wrap {
    padding: 0;
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}
.ngart .gr-wrap {
    margin: 0 90px;
}
.ngart .ngart__group {
    -js-display: flex;
    display: flex;
}
.ngart .gr-wrap {
    margin: 0 90px;
}
.gr-wrap {
    max-width: 1600px;
    padding: 0 60px;
    margin: 0 auto;
}
.gr-wrap {
    max-width: none;
    margin: 0 60px;
}
.gr-wrap {
    margin: 0 40px;
}
.gr-wrap {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    margin: 0 30px;
}
.gr-wrap {
    max-width: 1600px;
    padding: 0 60px;
    margin: 0 auto;
}
.gr-wrap {
    max-width: none;
    margin: 0 60px;
}
.gr-wrap {
    margin: 0 40px;
}
.gr-wrap {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    margin: 0 30px;
}

.ngart__main-col {
    width: calc(100% - 320px);
    padding-right: 50px;
    float: left;
    flex: 0 1 auto;
}
.ngart__main-col {
    display: inline-block;
}
.ngart__main-col {
    width: 100%;
    display: inline-block;
}
.ngart__main-col {
    width: calc(100% - 320px);
    padding-right: 50px;
    float: left;
    flex: 0 1 auto;
}
.ngart__main-col {
    display: inline-block;
}
.ngart__main-col {
    width: 100%;
    display: inline-block;
}

.ngart__main-col .paragraph, .ngart__main-col p {
    margin-bottom: 30px;
}
.ngart__main-col .paragraph, .ngart__main-col p {
    margin-bottom: 30px;
}

.ngart-img--art_main_col, .ngart-img--medium {
    max-width: 760px;
    display: block;
}
.ngart-img {
    background: 
    #fff;
    margin-bottom: 30px;
}
.ngart-img {
    background: #fff;
    margin-bottom: 30px;
}

.ngart__main-col .paragraph, .ngart__main-col p {
    margin-bottom: 30px;
}
.ngart__main-col .paragraph, .ngart__main-col p {
    margin-bottom: 30px;
}

.ngart__main-col .paragraph, .ngart__main-col p {
    margin-bottom: 30px;
}
.ngart__main-col blockquote, .ngart__main-col p {
    margin-bottom: 30px;
    color: 
    #333;
}
.copy-one, .ngart__main-col blockquote, .ngart__main-col p, .ngbs__text {
    font-family: Georgia,Times,'Times New Roman',serif;
    font-size: 1.1875rem;
    line-height: 1.9375rem;
    letter-spacing: normal;
}
.copy-five, .copy-four, .copy-one, .copy-three, .copy-two, .lr-pack .right-col .card--medium .card__deck, .ngart__main-col blockquote, .ngart__main-col p, .ngbs__text {
    font-family: GeoEditRegular,sans-serif;
    font-weight: 400;
}
.ngart__main-col .paragraph, .ngart__main-col p {
    margin-bottom: 30px;
}
.ngart__main-col p {
    margin-bottom: 30px;
    color: #333;
}
.ngart__main-col p {
    font-family: Georgia,Times,'Times New Roman',serif;
    font-size: 1.1875rem;
    line-height: 1.9375rem;
    letter-spacing: normal;
}
.ngart__main-col p {
    font-family: GeoEditRegular,sans-serif;
    font-weight: 400;
}